.container_main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input, label{
    border-radius: 0.7rem;
    border-color: rgb(53, 53, 53);
}
select{
    width: 99%;
    height: 2.5rem;
    font-size: 16px;
    border-radius: 0.7rem;
}
h1{
    width: 80%;
}
.container_main{
    margin-top: 3%;
}
.linha{
    display: flex;
    gap: 3%;
    margin-right: -20%;
}

@media (max-width: 1400px){
    body{
        align-items: center;
    }
    .container_aside{
        margin-bottom: -30%;
        width: 50%;
    }
    img{
        visibility: hidden;
    }
    h1{
        font-size: 1rem;
        text-align: center;
    }
    .container_main{
        display: flex;
        flex-direction: column;
        margin-top: 20%;
    }
    .linha{
        margin-top: -40%;
        flex-direction: column;
    }
}

/* Largura da tela menor que 768 pixels */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

/* Largura da tela menor que 600 pixels */
@media screen and (max-width: 600px) {
    .navegacao {
        flex-wrap: wrap;
    }
}